@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p class="text-justify">
        Para este projeto decidi implementar uma plataforma de registo de contactos com alertas,
        tipo CRM. Enquadrada dentro do negócio imobiliário.
        A plataforma vai ser estruturada com uma Masterpage (Modelo de Layout), onde estarão
        incluídos os menus de navegação, juntamente com o acesso à página de login e perfil. Fora
        desse layout ficará o conteúdo dinâmico referente a cada parte da plataforma.
        Tem termos de estruturação desse mesmo conteúdo, a plataforma ficará dividida em cinco
        partes fundamentais:</p>
    <ul class="text-left">
        <li>Home – Overview geral dos contactos recentes e lembretes por tratar;</li>
        <li>
            Registo de clientes – Listagem de todos os contactos efetuados, com a possibilidade de
            pesquisa, ordenação e filtros. Como também a opção de criar um contacto;
        </li>
        <li>Lembretes – Listagem de todos os lembretes tratados e por tratar;</li>
    </ul>
         
    
</div>
